* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.contents {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.contents:last-child {
  margin-right: 0;
}

.img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step {
  padding: 3px;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
}

.title {
  margin: 15px 0px 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  .contents {
    width: 90%;
    margin: 0 auto;
  }

  .contents:nth-child(2) {
    margin-top: 20px;
  }

  .contents:nth-child(3) {
    margin-top: 20px;
  }
}
